@model dotnetbus_web.Models.StopResponseData
@{
    ViewBag.Title = "index";
}

<h2>Stop @Model.stopId</h2>
Latitude: @Model.latitude<br />
Longitude: @Model.longitude<br />

<table>
    <thead>
        <tr>
            <th>Route</th>
            <th>Temperature</th>
            <th>Climate</th>
            <th>Predicted time</th>
            <th>Scheduled time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.departures)
        {
            <tr>
                <td>@d.routeShortName @d.headsign</td>
                <td>@d.temp</td>
                <td><img src="@d.climacon_url" alt="@d.climacon" /></td>
                <td>@d.predictedTime</td>
                <td>@d.scheduledTime</td>
            </tr>
        }
    </tbody>
</table>